<div class="row">
  <div class="col-xs-12">
    <hr />
    <h3>Practising Components</h3>
    <div>
      <ol>
        <li>
          Create two new Components (manually or with Cli): WarningAlert and
          SuccessAlert
        </li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/green text?)</li>
      </ol>
      <div>Use external or internal templates and styles!</div>
      <div>
        Feel free to create more components, nest them into each other or play
        around with different types of selectors
      </div>
    </div>
    <app-warning-alert />
    <app-success-alert />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-practising-databinding />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-practising-directives />
  </div>
</div>
