<hr />
<div>
  <ol>
    <li>
      Create two new Components (manually or wiyh Cli): WarningAlert and
      SuccessAlert
    </li>
    <li>Output them beneth each other in the AppComponent</li>
    <li>Output a warrning or success messahe in the Components</li>
    <li>Style the Components appropriately (maybe some red/green text?)</li>
  </ol>
  <div>Use external or internal templates and styles!</div>
  <div>
    Feel free to create more components, nest them into each other or play
    around with different types of selectors
  </div>
</div>
<app-warning-alert />
<app-success-alert />

<hr />
<div>
  <ol>
    <li>
      Add a input field which updates a proprty ('username') via Two-Way-Binding
    </li>
    <li>
      Output the username proprty via String Interpolation (in a paragraph below
      the input)
    </li>
    <li>
      Add a button which may only be clicked if the usernames is NOT an empty
      string
    </li>
    <li>
      Upon clicking the button, the username should be reset to an empty string
    </li>
  </ol>
</div>
<app-practising-databinding />
